body{
    font-family: 'Noto Sans KR', sans-serif!important;
}

/* 헤더  */

div.hdrWrap{
    height: 80px;
    position: relative;
    z-index: 1;
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    height: 80px;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>h1{
    float: left;
    height: 70px;
    background-image: url(./image/logo_white.png);
    background-size: cover;
    background-position: bottom;
    width: 180px;
    transition: all 0.1s;
    cursor: pointer;
    margin-top: 5px;
}
div.hdrWrap>div.header>h1>a{
    display: block;
    width: 180px;
    height: 70px;
}
div.hdrWrap>div.header>h1.on{
    background-image: url(./image/logo_balck.png);
    background-size: cover;
    background-position: bottom;
    height: 70px;
    width: 180px;
}
div.hdrWrap>div.header>ul.nav{
    float: right;
    line-height: 80px;
}
div.hdrWrap>div.header>ul.nav>li{
    float: left;
    font-size: 20px;
    font-weight: 600;
    margin: 0 37px;
    text-align: center;
    color: #fff;
    transition: all 0.1s;
}
div.hdrWrap>div.header>ul.nav>li.on{
    color: #000;
}

div.hdrWrap>div.header>ul.nav>li:nth-child(2){
    margin-left: 28px;
}
div.hdrWrap>div.header>ul.nav>li:nth-child(3){
    margin-right: 43px;
    margin-left: 5px;
}
div.hdrWrap>div.header>ul.nav>li:nth-child(4){
    font-size: 40px;
}
div.hdrWrap>div.header>ul.nav>li>i{
    line-height: 80px;
}

/* 네비게이션 */

div.navWrap.show{
    height: 205px;
 }
 
 div.navWrap{
     background-color: #ececec;
     width: 100%;
     height: 0px;
     overflow: hidden;
     transition: height 0.7s;
     position: relative;
     z-index: 5;
 }
 
 div.navWrap>div.nav{
     width: 80%;
     max-width: 1080px;
     margin: 0 auto;
 }
 div.navWrap>div.nav>div.menu{
     height: 200px;
     margin: 10px 0;
     margin-left: calc(100% / 12 * 5.23);
 }
 div.navWrap>div.nav>div.menu::after{
     content: '';
     display: block;
     clear: both;
 }
 div.navWrap>div.nav>div.menu>ul{
     float: left;
     height: 185px;
     padding: 0 45px;
     border-left: 2px solid #bfbfbf;
 }
 div.navWrap>div.nav>div.menu>ul:nth-child(3){
     border-right: 2px solid #bfbfbf;
     height: 185px;
     padding-right: 45px;
 }
 div.navWrap>div.nav>div.menu>ul>li{
     text-align: center;
     line-height: 40px;
     font-size: 14px;
     cursor: pointer;
 }
 div.navWrap>div.nav>div.menu>ul>li:hover{
     color: #9f0028;
 }
 div.navWrap>div.nav>div.menu>ul>li::after{
     width: 0;
     height: 2px;
     display: block;
     content: '';
     background-color: #9f0028;
 }
 div.navWrap>div.nav>div.menu>ul>li:hover::after{
     width: 100%;
     transition: all 0.5s;
     color: #9f0028;
 }

/* 메인 */

div.mainWrap{
    background-image: url(./image/sub03/sub03_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -80px;
}
div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 280px 0 80px;
}

/* 탭 */

div.tab{
    width: calc(100% / 12 * 3.5);
    margin: 0 auto;
    margin-top: 40px;
}
div.tab::after{
    content: '';
    display: block;
    clear: both;
}
div.tab>div.btn {
    float: left;
    line-height: 20px;
    border-right: 1px solid #9f0028;
    border-left: 1px solid #9f0028;
    border-bottom: 3px solid #9f0028;
    font-size: 14px;
    padding: 10px 15px;
    width: calc(100% / 4);
    text-align: center;
}
div.tab>div.btn.on{
    background-color: #9f0028;
    color: #fff;
}
div.tab>div.btn:hover{
    background-color: #9f0028;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
}

/* 공통 */

div.cntWrap{
    margin-top: 160px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header{
    text-align: center;
}
div.cntWrap>div.content>div.header>h2{
    font-size: 40px;
    line-height: 80px;
    text-transform: uppercase;
}
div.cntWrap>div.content>div.header>p{
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #9f0028;
}
div.cntWrap>div.content>div.section{
    margin-top: 80px;
}


/* 컨텐츠 01 */

div.cntWrap:nth-child(6){
    margin-top: 80px;
}
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.header>p{}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section>div.article{}
div.cntWrap>div.content.cnt01>div.section>div.article::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    height: 320px;
    width: calc(100% / 12 * 5);
    background-image: url(./image/sub03/sub03_cnt01_pic.01.png);
    background-position: center;
    background-size: cover;
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    width: calc(100% / 12 * 5);
    margin-left: 70px;
    height: 320px;
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
    font-size: 25px;
    line-height: 80px;
    color: #9f0028;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
    height: 80px;
    line-height: 20px;
    overflow: hidden;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.txtBox{
    margin-top: 31px;
    text-align: left;
    border-top: 4px solid #9f0028;
    border-bottom: 4px solid #9f0028;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.txtBox::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.txtBox>div.txtLeft{
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.txtBox>div.txtLeft>h5{
    line-height: 40px;
    font-size: 14px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.txtBox>div.txtRight{
    float: left;
    margin-left: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.txtBox>div.txtRight>h5{
    line-height: 40px;
    font-size: 12px;
}

/* 컨텐츠 02 */

div.cntWrap{}
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>p{
    width: calc(100% / 12 * 4);
    height: 40px;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt02>div.section{
}
div.cntWrap>div.content.cnt02>div.section>div.article::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.article{
    margin-bottom: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-last-child(1){
    margin-bottom: 0px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    width: calc(100% / 12 * 6);
    float: left;
    height: 240px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i1{
    background-image: url(./image/sub03/sub03_cnt02_pic.01.jpg);
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i2{
    float: right;
    background-image: url(./image/sub03/sub03_cnt02_pic.02.jpg);
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i3{
    background-image: url(./image/sub03/sub03_cnt02_pic.03.jpg);
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    float: left;
    margin-left: 70px;
    width: calc(100% / 12 * 5);
    
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-child(2)>div.texts{
    margin-left: 0px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{
    font-size: 25px;
    color: #9f0028;
    line-height: 80px;
    font-weight: 600;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{
    height: 100px;
    line-height: 20px;
    font-size: 16px;
    margin-top: 20px;
}

/* 컨텐츠 03 */

div.cntWrap{}
div.cntWrap>div.content.cnt03{}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.header>h2{}
div.cntWrap>div.content.cnt03>div.header>p{
    width: calc(100% / 12 * 4);
    height: 40px;
    margin: 0 auto;
    overflow: hidden;
}
div.cntWrap>div.content.cnt03>div.section{
    width: calc(100% / 12 * 10);
    margin: 0 auto;
    margin-top: 80px;
}
div.cntWrap>div.content.cnt03>div.section>div.article{}
div.cntWrap>div.content.cnt03>div.section>div.article::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{
    float: left;
    width: calc(100% / 10 * 5);
    padding-top: 80px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{
    font-size: 25px;
    color: #9f0028;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
    width: calc(100% / 5 * 4);
    margin-top: 40px;
    line-height: 20px;
    height: 260px;
    overflow: hidden;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h5{
    margin-top: 60px;
    font-size: 16px;
    text-align: right;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h5>span{
    font-size: 25px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    width: calc(100% / 12 * 5);
    height: 560px;
    float: right;
    background-image: url(./image/sub03/sub03_cnt03_pic.01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* 푸터 */

div.ftrWrap{
    background-color: #000;
    margin-top: 160px;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    color: #fff;
    padding: 40px 0 80px;
    margin: 0 auto;
}
div.ftrWrap>div.footer>h1{
    width: calc(100% / 12 * 2);
    background-position: bottom;
    margin: 0 auto;
}
div.ftrWrap>div.footer>h1>a>img{
    width: 180px;

}
div.ftrWrap>div.footer>div.texts{
    /* width: calc(100% / 12 * 9); */
    margin: 0 auto;
    margin-top: 40px;
    margin-left: 155px;
}
div.ftrWrap>div.footer>div.texts::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.texts>div.txt{
    float: left;
    height: 130px;
    padding: 0 30px;
    border-right: 2px solid #fff;
    text-align: left;
}
div.ftrWrap>div.footer>div.texts>div.txt:nth-child(3){
    border-right: none;
}
div.ftrWrap>div.footer>div.texts h3{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
div.ftrWrap>div.footer>div.texts p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
}
div.ftrWrap>div.footer>div.texts select{
    margin-top: 20px;
    background-color: #000;
    height: 40px;
    width: 150px;
    color: #fff;
}
div.ftrWrap>div.footer>div.texts select>option{
    line-height: 40px;
    display: block;
}
div.snsWrap{
    background-color: #9f0028;
}
div.snsWrap>div.sns{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}
div.snsWrap>div.sns>a>i{
    color: #fff;
    margin: 40px 0;
    font-size: 30px;
}

/* 라이트 박스 */

div.lightBox{
    position: fixed;
    width: 50vw;
    height: 100vh;
    background-color: #000;
    top: 0;
    right: 0;
    color: #fff;
    width: 0vw;
    overflow: hidden;
    z-index: 10;
}
div.lightBox>div.subMenu{
    width: 50vw;
    height: 60vh;
    overflow: hidden;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    background: #fff;
    color: #000;
}
div.lightBox>div.subMenu::after{
    content: '';
    display: block;
    clear: both;
}
div.lightBox>div.subMenu>ul{
    float: left;
    margin-top: 80px;
    margin-left: 70px;
    text-align: left;
}
div.lightBox>div.subMenu>ul>li{
    font-size: 16px;
}
div.lightBox>div.subMenu>ul>li:nth-child(1)~li:hover{
    color: #9f0028;
    cursor: pointer;
    font-weight: 700;
}
div.lightBox>div.subMenu>ul>li:nth-child(1){
    font-size: 25px;
    font-weight: 550;
    padding: 20px 0;
    border-bottom: 4px solid #9f0028;
}
div.lightBox>div.subMenu>ul>li:nth-child(2){
    margin-top: 20px;
}
div.lightBox>div.subMenu>ul>li:nth-child(1)~li{
    line-height: 40px;
}
div.lightBox>div.btn{
    font-size: 40px;
    position: absolute;
    top: 22%;
    right: 27%;
    color: #000;
}
div.lightBox>div.btn>i{}

input#sub{
    display: none;
}

input#sub:checked+div.lightBox{
    width: 100vW;
}
/* 투탑 */

div.toTop{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f5bb4c;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 45%;
    right: 5%;
    cursor: pointer;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
div.toTop>i{
}
@keyframes move{
    0% {
        bottom: 47%;
        
    }
    50% {
        bottom: 45%;

    }
    100% {
        bottom: 47%;

        
    }
}